 .footer {
     display: flex;
     justify-content: center;
     color: #000;
     margin: 10px auto;
     background-color: #F5F5DC;
     width: 80%;
     border-top-left-radius: 20px;
     border-bottom-right-radius: 20px;
 }