.header {
  position: relative;
  /*width: 420px;
  height: 300px; */
}

.header__img {
  background: transparent;
  height: 200px;
  width: 460px;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.header__title {
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  z-index: 1;
  font-family: "Spectral", serif;
  font-style: italic;
}

.header__text {
  text-align: center;
  font-size: 35px;
  color: #983a38;
  font-style: italic;
}

.header__loop {
  height: 400px;
  object-fit: cover;
  opacity: 70%;
  filter: blur(0.5px);
  transform: scale(1.1);
  position: sticky;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 627px) {
  .header__title {
    font-size: 20px;
  }

  .header__img {
    height: 80px;
    width: 184px;
    top: 36%;
  }

  .header__text {
    font-size: 14px;
    display: block;
    width: 288px;
    margin: 15px auto;
  }

  .header__loop {
    width: 100%;
    height: auto;
    opacity: 80%;
  }
}