.header {
  position: relative;
  /*width: 420px;
  height: 300px; */
}

.header__title {
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  z-index: 1;
  font-family: "Spectral", serif;
  font-style: italic;
}

.header__text {
  text-align: center;
  font-size: 35px;
  color: #983a38;
  font-style: italic;
}

.header__loop {
  object-fit: cover;
  opacity: 70%;
  padding-top: 55px;
  filter: blur(0.5px);
  transform: scale(1.1);
}

@media screen and (max-width: 627px) {
  .header__title {
    font-size: 20px;
  }

  .header__text {
    font-size: 14px;
    display: block;
    width: 288px;
  }

  .header__loop {
    width: 100%;
    height: auto;
    opacity: 80%;
  }
}