.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* max-width: 1280px; */
  padding: 0 20px;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}

.destinations {
  padding: 60px 0 30px;
}