.page {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "Spectral", serif;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}

.page__divider {
  border-top: 15px double #016d64;
  margin: 20px 0;

}