.page {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "Spectral", serif;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}

.destinations {
  padding: 60px 0 30px;
}
