.routes-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin: 0 10px;
}

.routes__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.routes__map {
  border: 2px solid #016d64;
  margin-bottom: 40px;
}

.routes__map-title {
  color: #983a38;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.routes__title {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #983a38;
  display: flex;
  justify-content: center;
}

.routes__text:first-of-type {
  width: 400px;
}

.routes__text {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  font-family: "spectral", serif;
  font-style: italic;
  width: fit-content;
  margin: 20px auto 40px;
  background-color: #99ccff;
  padding: 10px 20px;
  border-radius: 10px;
}

@media screen and (max-width: 890px) {
  .routes__map {
    width: 360px;
    height: 240px;
  }
}

@media screen and (max-width: 627px) {
  .routes__text:first-of-type {
    width: 288px;
  }
  .routes-info {
    flex-direction: column;
  }

  .routes__map {
    width: 288px;
    height: 288px;
  }

  .routes__map-title {
    font-size: 20px;
    margin: 20px 10px 0;
  }

  .routes__title {
    font-size: 20px;
    margin: 20px 10px 0;
  }
}
