.tips__videos {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.tips__videos-item {
    border-radius: 10px;
}

@media screen and (max-width: 627px) {
    .tips__videos {
        flex-direction: column;

    }

    .tips__videos-item {
        max-width: 288px;
        height: 100%;
    }
}